<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="CodeHim">
<title>Yahya's LocalCart</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/5.0.2/css/foundation.css">

<link rel="stylesheet" href="css/style.css">

<link rel="stylesheet" href="css/demo.css">
</head>
<body>
<header class="intro">
<h1>Yahya's LocalCart</h1>
<p>A JavaScript shopping cart system with local stroage.</p>
<div class="action">
<a href="https://www.codehim.com/collections/javascript-shopping-cart-examples-with-demo/" title="Back to download and tutorial page" class="btn back">Back to Tutorial</a>
</div>
</header>
<main>

<div class="row">
<nav class="top-bar" data-topbar>
<ul class="title-area">
<li class="name">
<h1><a href="#">LocalCart //</a></h1>
</li>
</ul>
<section class="top-bar-section">
<ul class="left">
<li><a href="#">made for you &hearts;</a>
</li>
</ul>
</section>
</nav>
<div class="medium-4  columns">
<div class="cart">
<h1>Cart items</h1>
<div class="row">
<div class="medium-6 columns">
<button class="tiny secondary" id="clear">Clear the cart</button>
</div>
<div class="medium-6 columns">
<button class="tiny disabled" title="Work in progress">Checkout</button>
</div>
</div>
<div id="cartItems">Loading cart...</div>
Total price: <strong id="totalPrice">0 $</strong>
</div>
</div>
<div class="medium-8 columns">
<h1>Some products</h1>
<div class="products">
<div class="product medium-4 columns" data-name="Orange" data-price="12" data-id="0">
<img src="./img/orange.png" alt="Orange" />
<h3>Orange</h3>
<input type="text" class="count" value="1" />
<button class="tiny">Add to cart</button>
</div>
<div class="product medium-4 columns" data-name="Apple" data-price="10" data-id="1">
<img src="./img/apple.jpg" alt="Apple" />
<h3>Apple</h3>
<input type="text" class="count" value="1" />
<button class="tiny">Add to cart</button>
</div>
<div class="product medium-4 columns" data-name="Peach" data-price="20" data-id="2">
<img src="./img/peach.jpg" alt="Peach" />
<h3>Peach</h3>
<input type="text" class="count" value="1" />
<button class="tiny">Add to cart</button>
</div>
</div>
</div>
</div>
<script type="text/template" id="cartT">
  <% _.each(items, function (item) { %> <div class = "panel"> <h3> <%= item.name %> </h3>  <span class="label">
<%= item.count %> piece<% if(item.count > 1)
{%>s
<%}%> for <%= item.total %>$</span > </div>
<% }); %>
</script>

<div style="margin: 14px 15px">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3890417145988448" crossorigin="anonymous" type="d60a628cc906292925904629-text/javascript"></script>

<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3890417145988448" data-ad-slot="1824421207" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script type="d60a628cc906292925904629-text/javascript">
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80520768-2" type="d60a628cc906292925904629-text/javascript"></script>
<script type="d60a628cc906292925904629-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-80520768-2');
</script>
</div>
</main>
<footer class="credit">Author: Mihovil Ilakovac - Distributed By: <a title="Awesome web design code & scripts" href="https://www.codehim.com?source=demo-page" target="_blank">CodeHim</a></footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="d60a628cc906292925904629-text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" type="d60a628cc906292925904629-text/javascript"></script>
<script src="./js/script.js" type="d60a628cc906292925904629-text/javascript"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80520768-2" type="d60a628cc906292925904629-text/javascript"></script>
<script type="d60a628cc906292925904629-text/javascript">

  window.dataLayer = window.dataLayer || [];
  
function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());

  gtag('config', 'UA-80520768-2');

</script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="d60a628cc906292925904629-|49" defer></script></body>
</html>